<!-- app/views/artists/show.html.erb -->
<!-- <%= params[:id]%> || <%= params[:track]%> -->
<!-- <h1 class="page-header"><%= @artist.name %></h1> -->
  <!-- <h3><%= @tracks[params[:track].to_i].name %></h3> -->

<div class="videowrapper">
<iframe type="text/html" src="https://www.youtube.com/embed/<%= @videoId %>?autoplay=1" frameborder="0" allow="autoplay"></iframe>

</div>